*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

div.ui.center.aligned.container{
    height: 70vh;
}

form.ui.form{
    height: 70vh;
    /* margin-top: 15vh; */
}

div.ui.list{
    display: block;
    position: relative;
    right: 0;
    top: 0;
    border-top: solid 2px gray;
}

div.submit{
    position: relative;
    left: 0;
    bottom: 0;
}

.ui.attached.negative.message{
    padding-top:2%;
}

#error-message{
    border: 2px red solid;
}