.color{
    width: 90%;
    height: 90%;
}

button.color{
    outline:none;
    border: none;
    border-radius: 6%;
    cursor: pointer;
}

div.color.container:hover{
    opacity: .5;
}

div.color.container{
    width: 6%;
    height: 3em;
    margin: 1% 0;
}

div.color.container span{
    font-size: 10px;
}