  div.client{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
  } 

  div.client .field{
    width: 40%;
    padding: .3%;
  }

  div.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
  }

  div.contact .field{
    width: 40%;
    padding: .3%;
  }

  div.options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
  }

  div.options .field{
    padding: .2%;
  }

  div.transport{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  div.services{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  div.comments{
    width: 40%;
  }

  div.submit{
    padding-top: 2%;
  }
