.doors.ui.button{
    height: 20vh;
    width:20vh;
    padding: 10px;
    background-color:transparent;
    outline:none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    transition: .2s;
}

.doors.ui.button:hover{
opacity: .5;
}

.doors.ui.button.highlight{
    border: yellow 1px solid;
}

.doors.ui.button:nth-child(1){
    background-image: url('../images/singleRight.jpg')
}
.doors.ui.button:nth-child(2){
    background-image: url('../images/doubleBoth.PNG')
}
.doors.ui.button:nth-child(3){
    background-image: url('../images/double+top.PNG')
}
.doors.ui.button:nth-child(4){
    background-image: url('../images/double+doublewindow.PNG')
}
.doors.ui.button:nth-child(5){
    background-image: url('../images/singleLeft+top.PNG')
}
.doors.ui.button:nth-child(6){
    background-image: url('../images/doubleBoth+doubleWindow+top.PNG')
}
.doors.ui.button:nth-child(7){
    background-image: url('../images/doubleLeft+top.PNG')
}
.doors.ui.button:nth-child(8){
    background-image: url('../images/singleLeft arrow.PNG')
}
.doors.ui.button:nth-child(9){
    background-image: url('../images/singleLeft.PNG')
}
.doors.ui.button:nth-child(10){
    background-image: url('../images/singleLeft+doubleWindow.PNG')
}
.doors.ui.button:nth-child(11){
    background-image: url('../images/singleLeft+doubleWindow+top.PNG')
}
.doors.ui.button:nth-child(12){
    background-image: url('../images/singleRight arrow.PNG')
}
.doors.ui.button:nth-child(13){
    background-image: url('../images/singleRight+doubleWindow.PNG')
}
.doors.ui.button:nth-child(14){
    background-image: url('../images/singleRight+doubleWindow+top.PNG')
}
.doors.ui.button:nth-child(15){
    background-image: url('../images/SingleRight+window.PNG')
}

.active{
    border:yellow 1px solid;
}

.doors.ui.button div{
    width:100%;
    height:100%;
    color:transparent;
    z-index: -1;
}