.ui.button.glass{
    width: 26%;
    height: 11em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color:transparent;
    outline:none;
    }

.glass.ui.button:hover{
    opacity: .5;
    }

.field.glass{
    padding: 2%;
}

    .ui.button.glass:nth-child(1){
        background-image: url('../images/complexBothSafe.jpg')
    }
    .ui.button.glass:nth-child(2){
        background-image: url('../images/complexSingleSafe.jpg')
    }
    .ui.button.glass:nth-child(3){
        background-image: url('../images/singleSafe.jpg')
    }