.ui.button.locks{
width: 33%;
height: 15em;
background-repeat: no-repeat;
background-position: center;
background-size: contain;
background-color:transparent;
outline:none;
}

.field.lock{
    padding:2%;
}

.ui.button.locks:nth-child(1){
    background-image: url('../images/cold50mmFine.jpg')
}
.ui.button.locks:nth-child(2){
    background-image: url('../images/coldEko40mmFine.jpg')
}
.ui.button.locks:nth-child(3){
    background-image: url('../images/warm52mmFine.jpg')
}