.ui.form{
    padding-top: 2%;
}

input::placeholder {
    color: red;
    font-size: 0.8em;
  }

.editable{
    box-sizing: border-box;
    /* margin: 5% auto 0; */
    align-self: center;
    height: 28em;
    width: 40%;
    transition: .2s;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.editable.double{
    height: 28.5em;
    width: 77%;
}   

.editable.double.top{
    width: 68%;
    height: 28.5em;
}

.editable.double.doubleWindows{
    width: 100%;
    height: 20em;
    background-position: center;
    background-size: cover;
}

.editable.double.doubleWindows.top{
    height: 22.5em;
}

.editable div{
    transition: .2s;
    height: 100%;
    width: 100%;
}

/*Pierwszy format drzwi*/
div.heightHover{
    box-sizing: border-box;
    border-right: 5px solid black;
    border-left: 5px solid black
}

div.heightFocused{
    animation: bling .5s infinite;
    border-right: 5px solid black;
    border-left: 5px solid black
}

div.mlWidthHover{
    border-bottom: 5px solid black;
}

div.mlWidthFocused{
    animation: bling .5s infinite; 
    border-bottom: 5px solid black;
}

/*Drugi format drzwi*/
div#heightHover{
    position: relative;
    top:30%;
    height:70%;
    border-right: 5px solid black;
    border-left: 5px solid black;
}

div#heightFocused{
    position: relative;
    bottom:0;
    left: 0;
    top:30%;
    height:70%;
    border-right: 5px solid black;
    border-left: 5px solid black;
    animation: bling .5s infinite; 
}

div#mlWidthHover{
    position: relative;
    right:50%;
    border-bottom: 5px solid black;
}

div#mlWidthFocused{
    position: relative;
    right:50%;
    border-bottom: 5px solid black;
    animation: bling .5s infinite; 
}

div#mrWidthHover{
    position: relative;
    left:50%;
    border-bottom: 5px solid black;
}

div#mrWidthFocused{
    position: relative;
    left:50%;
    border-bottom: 5px solid black;
    animation: bling .5s infinite; 
}

/* Dla drzwi bez nadbudowy */
div.double div#heightHover{top:0;height:100%}
div.double div#heightFocused{top:0;height:100%}
/*Trzeci format drzwi*/
div.double.top div#heightHover{top:30%;height:70%}
div.double.top div#heightFocused{top:30%;height:70%}

div#addHeightHover{
     height: 30%;
     border-right: 5px solid black;
     border-left: 5px solid black;
}

div#addHeightFocused{
    height: 30%;
    border-right: 5px solid black;
    border-left: 5px solid black;
    animation: bling .5s infinite;
}

/* 4 format */
div.doubleWindows div#mrWidthHover{left:50%;width:25%;}
div.doubleWindows div#mlWidthHover{left:25%;width:25%;}
div.doubleWindows div#mrWidthFocused{left:50%;width:25%;}
div.doubleWindows div#mlWidthFocused{left:25%;width:25%;}
div.doubleWindows div#heightHover{top:0;height:100%}
div.doubleWindows div#heightFocused{top:0;height:100%}

div#rWidthHover{
    position: relative;
    right:25%;
    left:75%;
    border-bottom: 5px solid black;
}
div#lWidthHover{
    position: relative;
    right:75%;
    border-bottom: 5px solid black;
}
div#rWidthFocused{
    position: relative;
    right:25%;
    left:75%;
    border-bottom: 5px solid black;
}
div#lWidthFocused{
    position: relative;
    right:75%;
    border-bottom: 5px solid black;
}

/* 5 format 2okna 1drzwi */
div.editable.doubleWindows.single{height: 20.5em;width:76%;}
div.doubleWindows.single div#mlWidthHover{left:33.3%;width:33.3%;}
div.doubleWindows.single div#mlWidthFocused{left:33.3%;width:33.3%;}
div.doubleWindows.single div#lWidthHover{left:0;width:33.3%;}
div.doubleWindows.single div#lWidthFocused{left:0;width:33.3%;}
div.doubleWindows.single div#rWidthHover{left:66.6%;width:33.3%;}
div.doubleWindows.single div#rWidthFocused{left:66.6%;width:33.3%;}
/* 6 format 2okna 1 drzwi nadbudowa */
div.editable.doubleWindows.single.top div#heightHover{height:70%; top:30%}
div.editable.doubleWindows.single.top div#heightFocused{height:70%;top:30%;}
div.editable.doubleWindows.single.top{height: 23em;width:77%;}
div.doubleWindows.single.top div#mlWidthHover{left:33.3%;width:33.3%;}
div.doubleWindows.single.top div#mlWidthFocused{left:33.3%;width:33.3%;}
div.doubleWindows.single.top div#lWidthHover{left:0;width:33.3%;}
div.doubleWindows.single.top div#lWidthFocused{left:0;width:33.3%;}
div.doubleWindows.single.top div#rWidthHover{left:66.6%;width:33.3%;}
div.doubleWindows.single.top div#rWidthFocused{left:66.6%;width:33.3%;}

.ui.form input[type=number]{
    border:none;
    width: 100%;
    border-bottom: solid 2px rgba(34,36,38,.15);
    border-radius: 5px;
    transition: .2s;
}

.ui.form input[type=number]:hover{
    border-bottom: 2px solid black;
}

.ui.form input[type=number]:focus{
    border: 2px solid cadetblue;
}

form.ui.form.size.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 33%;
}

div.left, div.center, div.right{
    display:flex;
    flex-direction: column;
    flex-basis: 33%;
    justify-content: center;
    align-content: center;
}

div.field.size{
    width:30%;
    padding: 2%;
    align-self: center;
    position: relative;
}

div.input{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.center div.input .field{
    width: 30%;
    margin: 0;
}

/* style={{color:'red', width:'100%', fontSize:'.7em', position:'absolute', right:'100%'}} */
span.error{
    color:red;
    width:100%;
    font-size: .7em;
    position: absolute;
    right:100%;
}

@keyframes bling{
    33% {opacity: .3;}

    66%{opacity: .6;}

    99%{opacity: 1;}
}
