div.ui.steps{
    border: none;
}
/*Zawartosc bez ikony*/
div.content{
    position: relative;
    left: 8%;
    z-index: 3;
}

/*Strzalka*/
.ui.steps .step:after{
    right: -1px;
    width: 4.0em;
    height: 4.0em;
}

/*Ikona*/
.ui.steps .step>.icon{
    position: relative;
    left: 12%;
}

/* wlasciwosc ikony
display: none;
    position: absolute;
    z-index: 2;
    content: '';
    top: 47%;
    right: -1px;
    border: medium none;
    background-color: #fff;
    width: 4.0em;
    height: 4.0em;
    border-style: solid;
    border-color: rgba(34,36,38,.15);
    border-width: 0 1px 1px 0;
    -webkit-transition: background-color .1s ease,opacity .1s ease,color .1s ease,box-shadow .1s ease;
    transition: background-color .1s ease,opacity .1s ease,color .1s ease,box-shadow .1s ease;
    -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
    transform: translateY(-50%) translateX(50%) rotate(-45deg); */