div.display{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2% auto;
    height: 4rem;
    width: 4rem;
}

div.bar{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-basis: 20%;
    height: 6.5em;
    font-size: .7rem;
}

.bar div.container{
    width: 15%;
    padding: .5%;
}

div.bar div.text{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 1%;
    text-align: left;
    flex-grow: 2;
}

.ui.message.summary{
    margin: 0;
    padding-bottom: 1.5em;
}
